h1 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  text-shadow: 2px 2px 6px #000000;
  font-size: 50px;
}

.card-body {
  text-align: center;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-evenly;
}
