.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}

.side {
  flex: 1;
}


h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);;
}

button {
  background-color: rgb(83, 81, 81);
  color: white;
  border: none;
  margin-top: 20px;
  padding: 10px 30px;
}
