<div class="container">
  <form [formGroup]="producForm" (ngSubmit)="handleSubmitForm()">
    <h1>Register</h1>
    <input
      type="text"
      name="name"
      placeholder="Name"
      formControlName="name"
    />
    @if(producForm.controls['name'].invalid && producForm.controls['name'].touched) {
      <div id="nameHelp" class="form-text text-danger">
        @if(producForm.controls['name'].errors?.['required']) {
          <small>Name is required</small>
        }
      </div>
    }

    <input
      type="email"
      name="email"
      placeholder="Email"
      formControlName="email"
    />
    @if(producForm.controls['email'].invalid && producForm.controls['email'].touched) {
      <div id="emailHelp" class="form-text text-danger">
        @if(producForm.controls['email'].errors?.['required']) {
          <small>Email address is required</small>
        }
        @if(producForm.controls['email'].errors?.['email']) {
          <small>Email address is invalid</small>
        }
      </div>
    }

    <input
      type="text"
      name="username"
      placeholder="User Name"
      formControlName="username"
    />
    @if(producForm.controls['username'].invalid && producForm.controls['username'].touched) {
      <div id="usernameHelp" class="form-text text-danger">
        @if(producForm.controls['username'].errors?.['required']) {
          <small>Username is required</small>
        }
        @if(producForm.controls['username'].errors?.['noSpacesValidator']) {
          <small>Username can't contain spaces</small>
        }
      </div>
    }

    <input
      type="password"
      name="passwd"
      placeholder="password"
      formControlName="passwd"
    />
    @if(producForm.controls['passwd'].invalid && producForm.controls['passwd'].touched) {
      <div id="passwordHelp" class="form-text text-danger">
        @if(producForm.controls['passwd'].errors?.['required']) {
          <small>password is required</small>
        }
        @if(producForm.controls['passwd'].errors?.['minLength']) {
          <small>password must be 8 or more character</small>
        }
        @if(producForm.controls['passwd'].errors?.['pattern']) {
          <small>password must contains at least one
            lowercase , one uppercase ,  at least one digit
            and special character</small>
        }
      </div>
    }

    <input
      type="password"
      name="confirmPasswd"
      placeholder="confirm password"
      formControlName="confirmPasswd"
    />
    <!--@if(producForm.controls['confirmPasswd'].invalid && producForm.controls['confirmPasswd'].touched) {
      <div id="confirmPasswdHelp" class="form-text text-danger">
        @if(producForm.controls['confirmPasswd'].errors?.['required']) {
          <small>password is required</small>
        }
        @if(producForm.controls['confirmPasswd'].errors?.['matchPassword']) {
          <small>password doesn't match previous password</small>
        }

      </div>
    }-->

    <button type="submit">Register</button>
  </form>
</div>
