<div class="container">
  <form #loginForm="ngForm" (ngSubmit)="handleForm(loginForm)">
    <h1>Login</h1>
    <input
      type="email"
      id="email"
      placeholder="Email"
      name="email"
      ngModel
      required
      pattern=".+@[a-zA-Z]+\.[a-zA-Z]+"
      #email="ngModel"
      >
      @if(email.invalid && email.touched) {
        <div id="emailHelp" class="form-text text-danger">
          @if(email.errors?.['required']) {
            <small>Email address is required</small>
          }
          @if(email.errors?.['pattern']) {
            <small>Email address is invalid</small>
          }
        </div>
      }
    <input
      type="password"
      id="passwd"
      placeholder="password"
      name="passwd"
      ngModel
      required
      minlength="8"
      #passwd="ngModel"
      >
      @if(passwd.invalid && passwd.touched) {
        <div id="passwdHelp" class="form-text text-danger">
          @if(passwd.errors?.['required']) {
            <small>password address is required</small>
          }
          @if(passwd.errors?.['minlength']) {
            <small>password must be 8 or more character</small>
          }
        </div>
      }
    <button type="submit">Login</button>
    <div class="Register">Don't have account? <a routerLink="/app-register">Register</a></div>
  </form>
</div>
